<div class="container" >
  <ng-container *ngIf="productForm">
    <ng-container *ngIf="state as data">
      <ng-container *ngIf="data.dataState == ProductStateEnum.LOADING">
        Loading...
      </ng-container>
      <ng-container *ngIf="data.dataState == ProductStateEnum.LOADED">
        <div class="alert-success container p-3 m-3">
          <span>Product saved successfully</span>
          <button class="btn btn-success ms-3" (click)="onAddProducts()">Add new product</button>
        </div>
      </ng-container>
      <ng-container *ngIf="data.dataState == ProductStateEnum.ADD">
        <div class="p-3">
          <div class="card">
            <div class="card-header">Add new product</div>
            <div class="card-body">
              <div class="row">
                <div class="col-md-12">
                  <form [formGroup]="productForm" (ngSubmit)="onSaveProduct()">
                    <div class="mb-3">
                      <label class="form-label">Name</label>
                      <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Price</label>
                      <input type="number" class="form-control" formControlName="price">
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Quantity</label>
                      <input type="number" class="form-control" formControlName="quantity">
                    </div>
                    <div class="mb-3">
                      <label class="form-label me-2">Checked</label>
                      <input type="checkbox" class="form-check-input" formControlName="checked">
                    </div>
                    <div class="mb-3">
                      <label class="form-label me-2">Selected</label>
                      <input type="checkbox" class="form-check-input" formControlName="selected">
                    </div>
                    <div class="mb-3">
                      <label class="form-label me-2">Available</label>
                      <input type="checkbox" class="form-check-input" formControlName="available">
                    </div>
                    <button [disabled]="productForm.invalid" type="submit" class="btn btn-success">Save</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
