<div class="container" >
  <ng-container *ngIf="productForm">
    <ng-container *ngIf="state">
      <ng-container *ngIf="state.dataState == ProductStateEnum.LOADING">
        Loading...
      </ng-container>
      <ng-container *ngIf="state.dataState == ProductStateEnum.ERROR">
        {{state.errorMessage}}
      </ng-container>
      <ng-container *ngIf="state.dataState == ProductStateEnum.UPDATED">
        <div class="alert-success container p-3 m-3">
          <span>Product updated successfully</span>
          <button class="btn btn-success ms-3" (click)="okUpdated()">Ok</button>
        </div>
      </ng-container>
      <ng-container *ngIf="state.dataState == ProductStateEnum.LOADED">
        <ng-container *ngIf="isBuild">
          <div class="p-3">
            <div class="card">
              <div class="card-header">Edit product</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <form [formGroup]="productForm" (ngSubmit)="onEditProduct()">
                      <div class="mb-3">
                        <input type="hidden" class="form-control" formControlName="id">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control" formControlName="name">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input type="number" class="form-control" formControlName="price">
                      </div>
                      <div class="mb-3">
                        <label class="form-label">Quantity</label>
                        <input type="number" class="form-control" formControlName="quantity">
                      </div>
                      <div class="mb-3">
                        <label class="form-label me-2">Checked</label>
                        <input type="checkbox" class="form-check-input" formControlName="checked">
                      </div>
                      <div class="mb-3">
                        <label class="form-label me-2">Selected</label>
                        <input type="checkbox" class="form-check-input" formControlName="selected">
                      </div>
                      <div class="mb-3">
                        <label class="form-label me-2">Available</label>
                        <input type="checkbox" class="form-check-input" formControlName="available">
                      </div>
                      <button [disabled]="productForm.invalid" type="submit" class="btn btn-success">Edit</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>
