<tr *ngIf="product">
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantity}}</td>
  <td>
    <div (click)="onCheckedProduct(product)">
      <i [class]="product.checked ? 'bi bi-check-square' : 'bi bi-square' " ></i>
    </div>
  </td>
  <td>
    <button class="" (click)="onSelectedProduct(product)">
      <i [class]="product.selected ? 'bi-star-fill' : 'bi bi-star' " ></i>
    </button>
  </td>
  <td>
    <div (click)="onAvailableProduct(product)">
      <i [class]="product.available ? 'bi-check-square' : 'bi bi-square' " ></i>
    </div>
  </td>
  <td>
    <button
      (click)="onDeleteProduct(product)"
      class="btn btn-outline-danger">
      <i class="bi bi-trash"></i>
    </button>
  </td>
  <td>
    <button
      (click)="onEditProduct(product)"
      class="btn btn-outline-success">
      <i class="bi bi-pencil-square"></i>
    </button>
  </td>
</tr>
