<ng-container *ngIf="state">
  <nav class="d-flex justify-content-between pt-4 pb-4">
    <div>
      <ul class="nav nav-pills">
        <li>
          <button (click)="onGetAllProducts()"
                  [class]="state.currentAction?.type == ProductActionsType.GET_ALL_PRODUCTS_SUCCESS ? 'btn btn-info me-2' : 'btn btn-outline-info me-2'"
          >
            <i class="bi bi-list-ul text-success"></i>
            All
          </button>
        <li>
          <button (click)="onGetSelectedProducts()"
                  [class]="state.currentAction?.type == ProductActionsType.GET_SELECTED_PRODUCTS_SUCCESS ? 'btn btn-info me-2' : 'btn btn-outline-info me-2'"
          >
            <i class="bi bi-list-check text-success"></i>
            Selected
          </button>
        </li>
        <li>
          <button (click)="onGetAvailableProducts()"
                  [class]="state.currentAction?.type == ProductActionsType.GET_AVAILABLE_PRODUCTS_SUCCESS ? 'btn btn-info me-2' : 'btn btn-outline-info me-2'"
          >
            <i class="bi bi-card-list text-success"></i>
            Available
          </button>
        </li>
        <li>
          <button (click)="onAddProduct()"
                  class="btn btn-success ms-2"
          >
            <i class="bi bi-plus text-white"></i>
            Add
          </button>
        </li>
      </ul>
    </div>
    <div>
      <form #f="ngForm" (ngSubmit)="onSearchProduct(f.value)" class="me-2">
        <div class="d-flex">
          <input ngModel name="keyword" type="text" class="form-control"/>
          <button class="btn btn-info">
            <i class="bi bi-search"></i>
          </button>
        </div>
      </form>
    </div>
  </nav>
</ng-container>
